/* src/components/ProjectDetail.css */

.project-detail {
    padding: 20px;
  }
  
  .project-detail img {
    width: 100%;
    height: auto;
  }
  
  .project-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .project-detail h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .project-detail p {
    font-size: 1em;
    line-height: 1.5;
  }
  