/* Apply the font to the entire page */
body, .hello-ellen-container {
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  font-weight: 400; /* Regular weight */
  color: #333; /* Minimalistic dark gray color */
}

.hello-ellen-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  margin: 20px;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  position: relative;
}

.text-container {
  flex: 1;
  text-align: left;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  flex-direction: column; /* Stack text and button vertically */
  align-items: flex-start;
  height: 100%; /* Ensure the text container fills the height */

}

.image-container {
  flex: 0 0 auto;
  padding: 10px;
}

.image-container img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  max-height: 80vh;
}

.text-container h1 {
  margin-bottom: 20px;
}

.text-container .scroll-button {
  align-self: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.text-container .note p {
  position: absolute;
  bottom: 0;
  font-size: 0.9rem; /* Ensure the note has its own font size */
  color: #555;
  font-weight: 300;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .hello-ellen-container {
    flex-direction: column;
    text-align: center;
    max-height: none;
  }

  .text-container, .image-container {
    flex: none;
    width: 100%;
    padding: 0;
  }

  .image-container img {
    max-width: 60%;
    max-height: none;
  }

  .text-container .scroll-button {
    margin-top: 10px;
    align-self: center;
    font-size: 2rem;
  }

  .text-container .note {
    position: absolute;
    top: 5%;
    width: 100%;
  }

  .text-container .note p {
    font-size: 0.8rem;
  }
}

.text-container p {
  font-size: 1rem;
  color: #555;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
